.Cardsyou{
    border: 2px solid black;
    width: 100px;
    height: 200px;
    margin: 50px;
}
.Cardsme{
    border-color: black;
    width: 100px;
    height: 200px;
    margin: 50px;
}
.Column{
    flex-flow: column;
}
.Row{
    flex-flow: row;
}
.flex{
    display: flex;
    text-align: center;
    vertical-align: middle;
}
.margin{
    width: 300px;
    height: 100px;
}